.tile {
    margin: 2px;
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.border {
    border: 1px solid rgb(113, 111, 111);
}

#container { 
    border: 3px solid red;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-radius: 3px;
}

.rowDiv {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.tileHovered {
    background-color: green;
}

.active {
    background-color: lightcyan;
}

